body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    
}
.logo{
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}
nav ul{
    list-style: none;
    margin: 0;
}
nav ul li{
    display: inline-block;
    /* padding: 30px; */
    margin-left: 250px;
    margin-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 16px;  
}
nav ul li a:hover{
    color: orangered;
}
.subject{
    text-align: center;
    margin-top: 100px;
    color: white;
}
.head{
    background-image: url(prof.jpg);
    background-repeat: no-repeat;
    height: 290px;
    width: 100%;
}
.search{
    display: inline-block;
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    background-image: url(loupe.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 0 4px;
    box-sizing: border-box;
    padding: 20px;
    margin: 60px 480px;
}
h3{
    border: 1px solid rgb(183, 198, 248);
    background-color: rgb(183, 198, 248);
    height: 30px;
    padding: 10px;
    padding-top: 18px;
    margin-top: 45px;
}
.pic{
    display: inline-block;
    /* border: 2px solid whitesmoke; */
    box-shadow: 3px 3px 4px grey;
    margin-left: 170px;
    
}
.caption{
    margin-left: 10px;
}
h1{
    text-align: center;
    margin-top: 100px;
    color: white;
}
h2{
    margin-left: 9rem;
    margin-top: 10rem;
    display: inline-block;
    position: absolute;
}
p{
    display: inline-block;
    position: absolute;
    margin-left: 9rem;
    margin-top: 15rem;
    text-align: justify;
}
.vidio{
    display: inline-block;
    position: absolute;
    border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
    border-radius: 5px;
    margin-left: 45rem;
    margin-top: 7rem;
}
.botton{
    position: absolute;
    display: inline-block;
    margin-top: 24rem;
    margin-left: 45rem;
    
}
.MOVIE1{
    border: 1px solid rgb(183, 198, 248);
    background-color: rgb(183, 198, 248);
    height: 30px;
    padding: 10px;
    padding-top: 18px;
    margin-top: 420px;
}
.pic1{
    display: inline-block;
    box-shadow: 3px 3px 4px grey;
    margin-left: 170px;
}
.footer{
    background-image: linear-gradient(to right,black,rgb(13, 142, 165));
    height: 200px;
    color: white;
}
#cap{
    display: inline-block;
    margin-top: 2px;
    margin-left: 4px;
}
#cap1{
    display: inline-block;
    margin-left: 160px;
    margin-bottom: 4px;
}

